<div>
  <div>
    <button class="btn btn-primary" routerLink="/product/edit">
      Create new Product
    </button>
    <!-- <button (click)="test()">
      Create new Product
    </button> -->
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>CreatedAt</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.createdAt}}</td>
      </tr>
    </tbody>
  </table>
</div>
