<div>
  <div>
    <button class="btn btn-primary" routerLink="/product">
      Show product list
    </button>
  </div>

  <div formGroup="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" formControlName="name" />
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" class="form-control" type="number" formControlName="price" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="createProduct()">
      Add new product
    </button>
  </div>
</div>